DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/postgres"
PORT=3030
ADMIN_SECRET="change_me"
FOOTBALL_DATA_API_KEY=your_token_here
FOOTBALL_DATA_COMPETITION=PL
STRIPE_SECRET_KEY=your_stripe_secret_key
APP_BASE_URL=http://localhost:3000