DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/postgres"
PORT=3030
ADMIN_SECRET="change_me"
FIXTURES_API_KEY="your_api_key_here"